
div.header, div.content, div.footer {
			max-width:1000px;
			margin:0 auto;
		}

em, strong {
color:inherit!important;
}

div.game {
padding:5px!important;	
}

div.game .description {
text-align:left!important;
	
}
