div.header, div.content, div.footer {
			max-width:940px;
			margin:0 auto;
		}

em, strong {
color:inherit!important;
}

div.game {
padding:10px!important;
border-top:1px solid #1e3243;
}

div.game .description {
text-align:left!important;
	
}

ul.games li {
margin-top:0px!important;	
}

#content {
	background-color:#18222B;
}

header {
	background-color:#2C415B;
	overflow:auto;
	padding:30px 20px;
}

p, div.description {
color:white;
}

header a {
	color:#66c0f4;
}

.uk-card-primary {
	background-color:rgba(0,0,0,0);
}

.filters {
	float:left;
	max-width:222px;
}
