
div.header, div.content, div.footer {
			max-width:800px;
			margin:0 auto;
		}

em, strong {
color:inherit!important;
}

div.game {
padding:10px!important;
}

div.game .description {
text-align:left!important;
	
}

ul.games li {
margin-top:0px!important;	
border-bottom:1px solid white;
}
