<div uk-filter="target: .js-filter">
    <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                <li class="uk-active" uk-filter-control><a href="#">All</a></li>
            </ul>
        </div>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                {% for post in site.posts %}
                {% if post.filters != nil %}
                {% for tags in post.genre %}
                <li uk-filter-control=".{{ tags }}"><a href="#">{{ tags }}</a></li>  
                {% endfor %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                {% for post in site.posts %}
                {% if post.filters != nil %}
                {% for tags in post.species %}
                <li uk-filter-control=".{{ tags }}"><a href="#">{{ tags }}</a></li>  
                {% endfor %}
                {% endif %}
                {% endfor %}              
            </ul>
        </div>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                {% for post in site.posts %}
                {% if post.filters != nil %}
                {% for tags in post.platform %}
                <li uk-filter-control=".{{ tags }}"><a href="#">{{ tags }}</a></li>  
                {% endfor %}
                {% endif %}
                {% endfor %}              
            </ul>
        </div>
    </div>
 
    <ul class="games js-filter uk-child-width-1-1 uk-text-center" uk-grid="masonry: true">        
       {% include game.html %}
    </ul>
</div>
