<div uk-filter="target: .js-filter">

    <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                <li class="uk-active" uk-filter-control><a href="#">All</a></li>
            </ul>
        </div>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                <li uk-filter-control=".adventure"><a href="#">Adventure</a></li>                
            </ul>
        </div>
        <div>
            <ul class="uk-subnav uk-subnav-pill" uk-margin>
                <li uk-filter-control=".canid"><a href="#">Canid</a></li>                
            </ul>
        </div>
    </div>

    <ul class="js-filter uk-child-width-1-1 uk-text-center" uk-grid="masonry: true">        
       {% include game.html %}
    </ul>

</div>
